.VERIFICATION{
    background-color:#e3f7e3;
    height: 100vh;
    width: 100vw;
}
.CONTIANER{
    width: 25vw;
    height: 92vh;
    background-color: #131a27;
    position: absolute;
    left: 70vw;
    top: 2vh;
    color: white;
    border-radius: 10px;
}
body{
    background:#eee;
  }

.bgWhite{
background:white;
box-shadow:0px 3px 6px 0px #cacaca;
}

.title{
font-weight:600;
margin-top:20px;
font-size:24px
}

.customBtn{
border-radius:0px;
padding:10px;
}

form input{
display:inline-block;
width:50px;
height:50px;
text-align:center;
}