.CUSTOMCARDE{
    text-decoration: none;
    background-color: #e3f7e3;
    border-radius: 10px;
}
.CUSTOMCARDE .CARD{
    background-color: rgb(0, 28, 80);
    border-radius: 10px;
    margin: 10px;
    box-shadow: 1px 2px 4px #000000;
}

.CUSTOMCARDE:hover{
    box-shadow:  0 0 0 0;
}

.CUSTOMCARDE .COL{
    background-color: rgb(3, 37, 101);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.CUSTOMCARDE .COL .BUTTON{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#OKAY{
    color: green
}

#NULL{
    color: blue
}

#DEFAULTER{
    color: red;
}

.CUSTOMCARDE .DATA{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: white;
}

.CUSTOMCARDE .ACCOUNT{
    flex: 4;
    width: 1vh;
    justify-content: flex-start;
}

.CUSTOMCARDE .BALANCE{
    flex: 4;
    justify-content: center;
}

.CUSTOMCARDE .STATUS{
    flex: 4;
    justify-content: flex-end;
}


.CUSTOMCARDE .FROM{
    justify-content: flex-start;
    position: relative;
    left: 2vw;
}


.CUSTOMCARDE .TO{
    justify-content: center;
}

.CUSTOMCARDE .DATE{
    justify-content: flex-end;
}

.CUSTOMCARDE .CBODY{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.CUSTOMCARDE .DATA .VALUE{
    font-size: larger;
    font-weight: bold;
    margin-left: 20px;
}
